/* html elements */
h1 {
    font-family: 'Lobster';
    font-weight: 900 !important;
    font-size: 5rem !important;
}

span {
    font-family: 'Pacifico';
    font-size: 2rem !important;
}

/* html elements ends */


/* title section */
#Title {
    text-align: center;
    margin-top: 3%;
}

/* title section ends */



/* players section */
#Players {
    /* text-align: center; */
    margin-top: 5%;
}

.p1 {
    margin-left: -16rem;
}

.p2{
    margin-left: 22rem;
}
/* players section ends */



/* Dice-1 section */
#Dice-1 {
    background-color: #E74646;
    padding: 5% 3%;
    position: relative;
    text-align: center;
    margin-top: 2%;
    /* margin-left: 15%; */
}

#Dice-2 {
    position: relative;
    left: 700px;
    top: -307.5px;
    text-align: center;
    margin-top: 2%;
    margin-left: 15%;
}

.container-fluid {
    padding: 0 7% !important;
}

.row {
    padding: 0% 35%;
}

.c-1,
.c-2,
.c-3,
.c-4,
.c-5,
.c-6,
.c-7 {
    border-radius: 100%;
    /* margin: 0 2%; */
    height: 3vw !important;
    width: 3vw !important;
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
    text-align: center;
    padding: 3%;
}


/* Dice section ends */



/* media query */

/* media query ends */